<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>

    <!-- Include libraries -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    
    <!-- Read scripts -->
    <script src="js/website.js"></script>
    <link href="css/main.css" type="text/css" rel="stylesheet" />

</head>

<body ng-controller="myCtrl">
<div >
<div class="container">
  
  <div class="navbar" id='nav'>

    <ul class="nav navbar-nav" >
      <li ng-class="navClass('resume')"><a class="btn" href="https://drive.google.com/file/d/0Bzg-TPUZPS2rVWp6dzhTU25FNTg/view?usp=sharing">Resume</a></li>
    </ul>
  </div>
</div>
<div class ="container" id="home">
<p> Hello, I'm an extremely passionate undergraduate Informatics student here at the University of Washington. Currently looking for front-end work, SQL, or project management internships. Below you'll find sites I've built and projects I've worked on. You can find my contact info on my resume!</p>
<div class = "container">
</div>
</div>
<div>
    <h1 id="title">Projects </h1>

<div class="container project" id="projects">
<div ng-repeat="item in items" class="row">
    <div class="col-md-6" ng-click="" id="left">
    
    <a href="{{item.websiteLink}}"><img class="custThumbnail" id="image" ng-src="{{item.Image}}" ></a>
    </div>
    <div class="col-md-6" title="" ng-click="">
        <a href="{{item.websiteLink}}"><h2>{{item.Title}}</h2></a>
        <p>{{item.Description}}</p>
        <p id="languages">{{item.LanguagesUsed}}</p>
        <p id="Libraries">{{item.LibrariesUsed}}</p>
        <i class="fa fa-github"></i>
        <a href="{{item.githubLink}}" class="information-p">github</a> 

    </div>
    <hr class="thin">
</div>
<div class = "container">
<div class = "container" id = 'contact'>
</div>
</div>
</div>
</body>